[submodule "spack_deploy"]
	path = spack_deploy
	url = https://github.com/RemoteConnectionManager/spack_deploy_helper.git
#old	branch = master
	branch = galileo_production_v003
[submodule "RCM"]
	path = RCM
	url = https://github.com/RemoteConnectionManager/RCM.git
#old	branch = lua_slurm_plugin
	branch = galileo_production_v003
