[submodule "spack_deploy"]
	path = spack_deploy
	url = https://github.com/RemoteConnectionManager/spack_deploy_helper.git
	branch = master
[submodule "RCM"]
	path = RCM
	url = https://github.com/RemoteConnectionManager/RCM.git
	branch = lua_slurm_plugin
